.app {
  max-width: 800px;
  margin: 0 auto;
}

.movie-list {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

th {
  background-color: #f2f2f2;
}

.genre-filter {
  margin-top: 20px;
  border: 1px solid;
  padding: 10px;
  background-color: rgb(183, 186, 189);
  border-radius: 5px;
}


.genre-buttons button {
  margin-right: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  height: 25px;

}

button:hover{
  background-color: grey;
  color: #f2f2f2;
}
